$header-center-text-color: green !default;
$header-slim-text-color: black !default;
//keep commented to customize footer-text-color
// $footer-text-color: $white !default;
$footer-text-color: yellow !default;
$primary-h: 304;
$primary-s: 100;
$primary-b: 100;

